html, body, #root, .router {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

.App {
  /*text-align: center;
  width: 1000px;
  margin: 0 auto;*/
  padding: 50px 50px;
}

.App h1 {
  box-sizing: border-box;
  display: inline-block;
  margin-right: 20px;
}

.activity-log {
  width: 45%;
  margin-bottom: 20px;
}

.activity-items {
  height: 60px;
  width: 90%;
  border: 1px solid #ddd;
  padding: 10px 5px;
  border-radius: 5px;
  overflow-y: scroll;
}

.activity-items li {
  padding: 3px 0;
  border-bottom: 1px solid #ddd;
}

.search-bar {
  height: 35px;
  width: 40%;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 18px;
  padding: 0 10px;
  box-sizing: border-box;
  display: inline-block;
}

#show-form {
  height: 35px;
  width: 35px;
  text-align: center;
  border-radius: 5px;
  background-color: #39ac39;
  display: inline-block;
}

#show-form span {
  line-height: 35px;
}

.contact-container {
  text-align: center;
  margin: 5 auto;
  float: left;
}

.contact-list {
  margin: 0 20px;
  padding: 0;
}

.contact {
  list-style-type: none;
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}

.contact:first-child {
  border-top: 1px solid #ddd;
}

.contact-link {
  text-decoration: none;
  color: inherit;
}

.contact h2 {
  margin-top: 0;
}

.contact .image-cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.contact img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.contact .contact-info, .contact .contact-alert {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 35px;
}

.contact .contact-alert {
  background-color: #39ac39;
  border-radius: 5px;
}

.contact .fa {
  color: #39ac39;
}

.add-start {
  height: 20px;
  width: 50px;
}

.add-start:hover, #form-container span:hover, .new-contact-form input[type="submit"]:hover, #show-form:hover, .contact-alert span {
  cursor: pointer;
}

.profile {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 50px;
}

.profile .image-cropper {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.profile img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

#form-container {
  width: 50%;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
}

#form-container span {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #39ac39;
}

.new-contact-form {
  margin: 10px 10px;
}

.new-contact-form input {
  margin: 5px 0;
  height: 35px;
  width: 80%;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 18px;
  padding: 0 10px;
  box-sizing: border-box;
  display: block;
}

.new-contact-form input[type="submit"] {
  background: #39ac39;
  color: white;
}

.new-contact-form input[type="submit"]:disabled {
  background: gray;
  color: white;
}
